body {
  background-color: #999999;
}
h1 {
  color: lightblue;
  padding-left: 15px;
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  border-radius: 24px;
}
#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  border-radius: 24px;
}
.video {
    padding: 0px 10px 0px 10px;
}
header {
  text-align: center;
  background-color: #333;
  grid-column: span 12;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 24px;
}
.contact {
  text-align: center;
  font-size: 40px;
}
.roundedbox {
    padding: 0px 16px 0px 16px;
    border: 2px solid #999;
    border-radius: 24px;
}
.roundedbox2 {
    padding: 0px 16px 0px 16px;
    border: 2px solid #999;
    border-radius: 24px;
    grid-column: span 12;
}
main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
section {
  grid-column: span 6;
  font-family: 'Crimson Text', serif;
  margin: 24px;
  box-shadow: 10px 10px 10px #666; /* x, y, blur, color */
}
h2 {
  background-color: #333;
  color: lightblue;
  padding: 16px;
  text-align: center;
  border-radius: 24px;
  font-family: Helvetica, Arial, sans-serif;
}
footer {
  grid-column: span 12;
  padding-left: 24px;
  background-color: #333;
  color: lightblue;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 24px;
}
footer a {
    float: right;
    padding-right: 24px;
    color: lightblue;
    text-decoration: none;
    transition: color .5s;
}
footer a:hover {
    color: grey;
}
p {
  font-size: 24;
  font-weight: bold;
  font-family: 'Crimson Text', serif;
}

.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: auto;
  background-color: #333;
  grid-column: span 12;
}
.sticky + .content {
  padding-top: 60px;
}
.carousel {
  color: #170724;
  grid-column: span 12;
  align-content: center;
  margin-top: 24px;
  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width:100%;
  max-height:100%;
  margin-right: 22px;
  background-color: #333;
  border-radius: 24px;
}
#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 3;
  border-radius: 12px;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  transition: background-color .7s;
}
#navbar .homeBox {
  float: left;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#navbar a.active {
  background-color: #04AA6D;
  color: white;
}
